*{
  padding: 0;
  margin: 0;

}
.background{
  background-color: #dff0e7;
  height: 1500px;
  margin-top:5px;
}

.wrapper{
/* border: 2px solid; */
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;

}

 .navbar {
  width: 50%;
	height: 3%;
	/* border: 2px solid; */
	float: right;
	margin-top: 40px;
	display: inline-block;
	padding-left: 10px;
	position: absolute;
	/* top: 40px; */

}

.header {
	height: 65px;
	/* border: 2px solid black; */
	width: 100%;
	box-shadow: 5px 3px 8px #888888;
	background-color: white;
}


.gfm-icon {
	width: 8%;
	height: 100%;
	/* border: 2px solid red; */
	bottom: 20px;
	right: 20px;
	margin: 0 auto;
	float: right;


	display: block;
	/*text-align-last: right;*/
	position: relative;
}

.navbar ul li a {
  text-decoration: none;
  text-align: center;
}

.home {
	/*border: 2px solid yellow;*/
	width: 15%;
	display: inline-block;
	padding-right: 15px;
	margin: 0 auto;
	border-right-color: black;
	border-right-style: solid;
}

.about {
	/*border: 2px solid red;*/
	width: 15%;
	display: inline-block;
	padding-right: 15px;
	padding-left: 5px;
	margin: 0 auto;
	border-right-color: black;
	border-right-style: solid;
}

.contact {
	/*border: 2px solid green;*/
	width: 15%;
	display: inline-block;
	padding-right: 10px;
	padding-left: 5px;
	/*padding-top: 40px;*/
	margin: 0 auto;
	border-right-color: black;
	border-right-style: solid;
}


.block {
  /* border: 2px solid blue; */
}
.a{
  grid-column: 1/2;
  border: 2px solid blue;
  border-radius: 20px;
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 10%;
  padding-right: 10%;


}

.b{
  margin-top: 10px;
  grid-column: 2/3;
  /* border: 2px solid red; */
  /* background-image: url('blsmooth.png'); */
  background-size: contain;
  background-repeat:repeat;
  color: red;
  font-size: 30px;
  /* animation-delay: 3s; */
  animation-name: beer;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  /* background-color: black; */
  /* text-shadow: -2px 2px black; */

}

.c{
  /* border: 2px solid black; */
  grid-column: 2/3;
  background-image: url('aboutus_images/fado.jpg');
  background-size: contain;
  background-position: center;
  font-size: 30px;
  margin-top: 20px;
}
.b ol{
  padding-left: 45%;
  padding-top: 5px;
    text-shadow: -1px 1px black;
  /* text-align: center; */
}
.c ol{
  padding-left: 45%;
  padding-top: 5px;
  color: white;
  text-shadow: -2px 2px black;
  font-size: 30px;
}

.b ol li{
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.c ol li{
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.b h2{
  text-align: center;
  color: red;
  font-family: serif;
  text-shadow: -2px 2px black;
}

.c h2{
  text-align: center;
  color: white;
  font-family: serif;
  text-shadow: -2px 2px black;

}

.c h2, .b h2{
  text-decoration: underline;
}

@keyframes beer{
  0% {background-image: url('aboutus_images/blsmooth.png');}
  10% {background-image: url('aboutus_images/buschlight.jpg');}
  20% {background-image: url('aboutus_images/labatt-blue-bottle.png');}
  30% {background-image: url('aboutus_images/wildblue.jpg');}
  40% {background-image: url('aboutus_images/blueberryblonde.png');}
  50% {background-image: url('aboutus_images/gennycream.jpg');}
  60% {background-image: url('aboutus_images/angryorchard.png');}
  70% {background-image: url('aboutus_images/bluemoon.png');}
  80% {background-image: url('aboutus_images/Yuengling.jpg');}
  90% {background-image: url('aboutus_images/stella.jpg');}
  100% {background-image: url('aboutus_images/blsmooth.png');}

}
