*{
  padding: 0;
  margin: 0;
}
.wrapper{
/* border: 2px solid; */
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;

}

.navbar{
  /* border: 2px solid green; */
  grid-column: 1/3;
}

.block {
  /* border: 2px solid blue; */
}
.a{
  grid-column: 1/2;
  /* border: 2px solid blue; */
  padding: 50px;

}

.b{
  grid-column: 2/3;
  /* border: 2px solid red; */
  background-image: url('blsmooth.png');
  background-size: contain;
  background-repeat: round;
  color: red;
  font-size: 30px;
  /* animation-delay: 3s; */
  animation-name: beer;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  /* background-color: black; */
  /* text-shadow: -2px 2px black; */

}

.c{
  /* border: 2px solid black; */
  grid-column: 2/3;
  background-image: url('fado.jpg');
  background-size: contain;
  background-position: center;
  font-size: 30px;
}
.b ol{
  padding-left: 45%;
  padding-top: 5px;
    text-shadow: -1px 1px black;
  /* text-align: center; */
}
.c ol{
  padding-left: 45%;
  padding-top: 5px;
  color: white;
  text-shadow: -2px 2px black;
  font-size: 30px;
}

.b ol li{
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.c ol li{
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.b h2{
  text-align: center;
  color: red;
  font-family: serif;
  text-shadow: -2px 2px black;
}

.c h2{
  text-align: center;
  color: white;
  font-family: serif;
  text-shadow: -2px 2px black;

}

.c h2, .b h2{
  text-decoration: underline;
}

@keyframes beer{
  0% {background-image: url('blsmooth.png');}
  10% {background-image: url('buschlight.jpg');}
  20% {background-image: url('labatt-blue-bottle.png');}
  30% {background-image: url('wildblue.jpg');}
  40% {background-image: url('blueberryblonde.png');}
  50% {background-image: url('gennycream.jpg');}
  60% {background-image: url('angryorchard.png');}
  70% {background-image: url('bluemoon.png');}
  80% {background-image: url('Yuengling.jpg');}
  90% {background-image: url('stella.jpg');}
  100% {background-image: url('blsmooth.png');}

}
