

.wrapper{
  margin: 8% auto;
  height: 500px;
  width: 70%;
  padding: 20px;
  border-radius: 15%;
  border: 2px solid;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* left side of contact */



.title{
  /* border: 2px solid blue */
  /* background-color: blue; */
  /* height: 50px; */
}

/* labels in the form */
#name{
  margin-bottom: 2%;
  /* margin-left: 2%; */
}
#cell_number{
  margin-bottom: 5%;
}

#drink{
  margin-bottom: 30px;
}



#name input{
  margin-left: 19%;
}

#cell_number input{
  margin-left: 16%;
}

#drink input{
  margin-left: 4%;
  /* border: 2px solid pink; */
}

label{
  margin-bottom: 10%;
}

/* button */

.buttons{
  background-color: grey;
  margin-top: 100px;
  /* height: 50px; */
}


/* right side of contact */

.right{
/* margin-right: 600px; */
}
.map{
  /* background-image: url("map.png"); */
  /* background-color: yellow; */
  margin-top: 70px;
  height: 200px;
  /* margin-right: 300px; */
  /* margin-left: 200px; */
  /* border: 2px solid pink; */
  /* text-align: left; */
}

iframe{
  /* margin-left: 400px; */
}

.social_text{
  background-color: orange;
  height: 120px;
}

.social_links{
  background-color: lightblue;
  height: 70px;
}
